body {
    margin: 0;
    padding: 0;
    font-family: var(--standard-font);
    font-size: var(--base-font-size);
    color: var(--standard-color);
}

.app {
    height: 100vh;
    background-image: url('../assets/images/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.half {
    width: 50%;
    border: 1px solid white;
    position: relative;
}

.form {
    background-color: #181818;
    opacity: 0.15;
}
