@media screen and (max-width: 1080px) {
    .left {
        width: 0%;
    }

    .form-section {
        width: 100%;
        background-color: rgba(24, 24, 24, 0.7);
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 2.8rem;
        margin-bottom: 10px;
    }

    .section-wrapper {
        padding: 100px 15px 30px;
    }
}

@media screen and (max-width: 480px) {

    .section-wrapper {
        padding: 30px 5px 10px;
    }
    
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .sign-up-form {
        width: 90%;
    }

    .form-group {
        margin-bottom: 22px;
    }

    .form-label {
        font-size: 12px;
    }

    .form-control {
        padding: 13px 0;
    }

    .social-link {
        width: 24px;
        height: 24px;
    }
    
}


@media screen and (max-width: 360px) {
    .section-wrapper {
        padding: 20px 5px 10px;
    }

    h1 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .sign-up-form {
        width: 90%;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-size: 12px;
    }

    .form-control {
        font-size: 12px;
        padding: 12px 0;
    }
    
    .form-button {
        padding: 10px 0;
        width: 150px;
        font-size: 13px;
    }

    .social-link {
        width: 18px;
        height: 18px;
    }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    
    .app {
        height: 100vh;
        background-attachment: fixed;
    }
    
    .section-wrapper {
        padding: 50px 15px 20px;
    }

    .social-link {
        width: 26px;
        height: 26px;
    }

}

@media screen and (max-width: 920px) and (orientation: landscape) {
    
    .app {
        height: 100%;
    }
    
    h1 {
        font-size: 2.8rem;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
    
    .section-wrapper {
        padding: 20px 5px 10px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-size: 12px;
    }

    .form-control {
        font-size: 12px;
        padding: 12px 0;
    }

    .form-center {
        margin-bottom: 10px;
    }

    .social-link {
        width: 24px;
        height: 24px;
    }

}

@media screen and (max-width: 720px) and (orientation: landscape) {
    
    h1 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-size: 12px;
    }

    .form-control {
        font-size: 12px;
        padding: 12px 0;
    }

    .form-center {
        margin-bottom: 15px;
    }

    .social-link {
        width: 24px;
        height: 24px;
    }

}