@media screen and (min-width: 320px) {
    
    .left {
        width: 0%;
    }

    .form-section {
        width: 100%;
        background-color: rgba(24, 24, 24, 0.7);
    }

    .section-wrapper {
        padding: 30px 8px 10px;
    }

    h1 {
        font-size: 2.2rem;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 1.3rem;
        margin-bottom: 40px;
    }

    .sign-form {
        width: 100%;
    }

    .form-label {
        font-size: 13px;
    }

    .form-control {
        font-size: var(--small-font-size);
        padding: 12px 0;
        margin-bottom: 3px;
    }

    .form-group {
        margin-bottom: 23px;
    }

    .social-link {
        width: 22px;
        height: 22px;
    }

    .form-center {
        margin-bottom: 40px;
    }

    .info-window {
        font-size: 11px;
    }

    .form-icon {
        width: 18px;
        height: 18px;
    }

    .form-button {
        width: 150px;
        font-size: 13px;
        padding: 13px 0;
        margin: 0 auto 10px;
    }
}

@media screen and (min-width: 375px) {
    .section-wrapper {
        padding: 45px 10px 15px;
    }

    h1 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .form-center {
        padding: 10px 0;
    }

}

@media screen and (min-width: 480px) {
    .section-wrapper {
        padding: 60px 10px 20px;
    }

    h1 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .form-control {
        margin-bottom: 6px;
    }
}

@media screen and (min-width: 768px) {
    .section-wrapper {
        padding: 80px 10px 20px;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .form-label {
        font-size: 15px;
    }

    .form-button {
        font-size: 14px;
    }

    .social-link {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1080px)  {

    .left {
        width: 50%;
    }

    .form-section {
        width: 50%;
        background-color: rgba(24, 24, 24, 0.2);
    }

    .sign-form {
        width: 70%;
    }

    .form-group {
        margin-bottom: 30px;
    }

    h1 {
        font-size: var(--h1-font-size);
    }

    h3 {
        font-size: var(--h3-font-size);
    }

    .form-label {
        font-size: var(--base-font-size);
    }

    .form-control {
        font-size: 14px;
        padding: 14px 0;
    }

    .form-button {
        width: 200px;
        padding: 14px 0;
        font-size: var(--base-font-size);
    }

    .social-link {
        width: 26px;
        height: 26px;
    }

    .info-window {
        font-size: var(--small-font-size);
    }

    .form-icon {
        width: 20px;
        height: 20px;
    }
}