@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Arimo');

:root {
    --font-weight-regular: 300;
    --base-font-size: 16px;
    --small-font-size: 0.75rem;
    --h1-font-size: 3.25rem;
    --h3-font-size: 2rem;
    --standard-font: 'Arimo', sans-serif;
    --headline-font: 'Lobster', cursive;
    --standard-color: #e1e3ea;
    --orange-color: #c57633;
    --red-color: #ff5757;
}

